*.pyc
*.pyo
*~
*.DS_Store
.*.kate-swp

/build/

# these are generated at build time, and never checked in
/src/allmydata/_version.py

/src/allmydata_tahoe.egg-info/
.pc

/_trial_temp*
/tmp*
/*.patch
/dist/
/.coverage
/.coverage.el
/coverage-html/
